{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
      <div class="content-section">
             <form method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                       <legend class="border-bottom mb-4"> Log In </legend>
                       {{ form|crispy }}
                  </fieldset>
                  <div class="form-group">
                     <button class="btn btn-outline-info" type="submit"> Log In </button>
                     <button class ="btn btn-outline-info">
                        <a class ="ml-1" href="https://accounts.google.com/o/oauth2/auth/oauthchooseaccount?client_id=838591548228-v6074bk3nh8j1sl1fnlfm08557pdcpi3.apps.googleusercontent.com&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Faccounts%2Fgoogle%2Flogin%2Fcallback%2F&scope=profile&response_type=code&state=881y8pWAScHi&flowName=GeneralOAuthFlow"> Sign in with Google </a> 
                     </button>
                     <small class='text-muted ml-2'>
                         <a href="{% url 'password_reset' %}"> Forgot Password? </a>
                     </small>
                  </div>

             </form>
             <div class="border-top pt-3">
                 <small class="text-muted"> 
                 Don't Have An Account? <a class ="ml-2" href="{% url 'register'%}"> Sign Up Today! </a>
                 </small>  
                 
             </div>      
       </div>


      
{% endblock content %}
